@import url("https://fonts.google.com/specimen/Josefin+Sans");

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  font-family: Josefin Sans;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

h1,
p {
  color: hsl(0, 36%, 70%);
  font-weight: 400;
}

span {
  color: hsl(0, 6%, 24%);
  font-weight: 600;
  display: table-caption;
}

button {
  background-color: hsl(0, 36%, 70%);
  border-radius: 30%;
  padding: 8px 25px;
  width: 74px;
  height: 44px;
  position: absolute;
  right: 55px;
  border: none;
}

button:hover {
  background-color: hsl(0, 36%, 85%);
}

.main-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-flex-container {
  display: flex;
  flex-direction: column;
  padding: 160px;
  gap: 30px;
}

.heading {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  letter-spacing: 20px;
}

.description {
  line-height: 2;
  font-size: 20px;
  width: 500px;
}

input {
  border: 1px solid hsl(0, 36%, 70%);
  height: 40px;
  width: 430px;
  border-radius: 30px;
}

.email {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.logo-header {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 80px;
  letter-spacing: 4px;
}

::placeholder {
  color: hsl(0, 36%, 70%);
  font-size: 20px;
  padding: 30px;
}

.error-msg {
  color: hsl(0, 36%, 70%);
  font-weight: 100;
}

.logo {
  display: flex;
  width: 170px;
  gap: 10px;
}

.logo img {
  border-radius: 50%;
  display: inline-block;
  border: 3px solid hsl(0, 36%, 70%);
  height: 32px;
}
